.idea/
**/node_modules/**
**.DS_Store
**.env**
php/vendor
php/composer.lock
php/downloads/**
php/documents/
python/__pycache__/**
python/documents/
csharp/.env
csharp/.vs/**
csharp/bin/**
csharp/obj/**
ruby/Gemfile.lock
ruby/documents/
javascript/documents/
